.gridcontainer {
    display: grid;
    grid-template-columns: auto auto;
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-color: white;
    /* padding: 10px; */
  }
  .griditem {
    background-color: rgba(255, 255, 255, 0.8);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 8px;    
    text-align: left;
  }


  .example {
    background-color: #eee;
    width: 1000px;
    height: 550px;
    border: none;
    overflow-y: scroll; 
  }
  
  
  .example::-webkit-scrollbar {
      display: none;
  }
  
  
  .example {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
  }
  