.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
  }
  
  .modal {
    position:fixed; 
    top: 6vh;
    left: 33%;
    width: 35%;
    z-index: 100;
    overflow:auto; 
    max-height: 35rem;
    background-color: white;
    font-size: small;
  }

  .formContainer {
    /* border : 1px solid #fff; */
    padding-left:80px;
    background-color: white;
    /* margin-top: 20vh; */
    /* -webkit-box-shadow: 1px 0px 5px 2px #000000; 
    box-shadow: 1px 0px 5px 2px #000000; */
}

.button {
    transition-duration: 0.4s;
  }
  
.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}