.glogin {
    /* width: 100% !important;
    background-color: transparent !important;
    border-style: solid !important;
    border-radius: 15px !important;
    border-color: rgba(40, 30, 94, 0.932) !important;
    color: black !important; */

    width: 0% !important;
    height: 0% !important;
    border-style: none !important;
    

    /* background-color: rgba(40, 30, 94, 0.932) !important;
    border-style: solid !important;
    border: transparent !important;
    color: white !important;
    box-shadow: none !important;
    border-radius: 5px; */
}
